
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("../img/mightybg.jpg");
    background-size: 100%;
    font-family: Verdana, Helvetica, Arial, "Times New Roman";
    color: rgb(255, 255, 255);
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: gray ;
}

#parte1{
    background-color: #c5c5c5f3;
}

#text1{
    margin: 2em;
}

#text2{
    margin: 2em;
}

#parte2{
    background-color: #c5c5c5f3;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

#banner img{
    width: 1349px;
    height: 400px;
}

#nombre{
    font-size: 120px;
}

#dos{
    width: 450px;
    height:500px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}

#tie{
    width: 400px;
    height:400px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}
#tie2{
    width: 400px;
    height:400px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}

#mer{
    width: 700px;
    height:400px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}

#nep{
    width: 400px;
    height:400px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}


#jup{
    width: 450px;
    height:500px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}

#sat{
    width: 500px;
    height:250px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 1000px){
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;

    }

    .abrir-menu{
        color: black;
     
    }

    .cerrar-menu{
        color: white;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
       flex-direction: column;
       align-items: end;
       gap: 1rem;
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       background-color: #1c1c1c;
       padding: 2rem;
       box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{ 
        color:white;
    }

    #banner img{
        width: 928px;
        height: 400px;
    }
    
    #plant img{
        max-width: 100%;
        height:auto;
        position: absolute;
    }

    #nombre{
        font-size: 100%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
    }

    #mer{
        width: 450px;
        height:250px;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateX(-50%) translateY(-50%);
    }

    #nep{
        width: 300px;
        height:300px;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateX(-50%) translateY(-50%);
    }

    #sat{
        width: 400px;
        height:200px;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateX(-50%) translateY(-50%);
    }

    #jup{
        width: 350px;
        height:350px;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateX(-50%) translateY(-50%);
    }

    #tie{
        width: 290px;
        height:300px;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateX(-50%) translateY(-50%);
    }
    #tie2{
        width: 200px;
        height:200px;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateX(-50%) translateY(-50%);
    }

}

#plant .contenedor{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
    color: #f5ebeb;
}




#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
    color: #f5ebeb;
}



#banner a:hover{
    background: rgba(51, 51, 51, 0.5);
}

.carrusel-items{
   display: flex;
   overflow-x: hidden;
   overflow-y: hidden;
   padding: 30px 0px;
}

.carrusel-item{
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    outline: 2px solid black;
}

.carrusel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item:hover{
    transform: scale(1.2);
}


#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
    }